<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="1PkQsNH22F_Kx9V70v36BcCaEcfVovuSv6Bcr9F1TJE" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaibhav Nadipalli</title>
    <link rel="icon" type="image/png" href="/favicon.png"> <!-- Path to your favicon -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Montserrat Font -->
    <link rel="stylesheet" href="/assets/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <div class="nav-container">
            <h3 class="nav-title"><a href="/" style="text-decoration:none; color:#000;"><span class="favicon-letter">V</span>aibhav Nadipalli</a></h3> <!-- Link to refresh the page -->
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">&#9776;</label>
            <nav class="nav-menu">
                <ul class="nav-links">
                    <li><a href="origin">Biography</a></li>
                    <li><a href="portfolio">Portfolio</a></li>
                    <li><a href="gospel">Blog</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="origin">
            <h2 class="section-title">Biography</h2>
            <p> I am a high school student with a strong passion for physics, technology, and philosophy. I am eager to learn about the latest trends in the tech industry, with interests spanning from spacecraft to consumer electronics. Although I'm still exploring my specific career path, my goal is to become a startup founder in the technology sector..</p>
            <br>
            <p>I got started by binge-watching MKBHD videos and then read Sapiens by Yuval Noah Harari, which deepened my appreciation for the history of humanity and engineering. This combination of influences has made me realize my passion for using technology to improve the lives of my fellow humans.</p>
            <br>
            <p>Here I'm going to document my projects and share my thoughts with the occasional blog post</p>
        </section>

        <section id="portfolio">
            <h2 class="section-title">Portfolio</h2>
            <p>To be updated...</p>
        </section>

        <section id="gospel">
            <h2 class="section-title">Blog</h2>
            <p>To be updated...</p>
        </section>

        <section id="contact">
        <h2 class="section-title">Contact</h2>
        <p>
            Email address:
            <a href="mailto:vaibhavnadipalli3@gmail.com" style="text-decoration: none; color: #006DE2;">vaibhavnadipalli3@gmail.com</a>
        </p>
</section>

        </section>
    </main>
</body>
</html>
